node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Firebase config
src/firebase/config.js
src/firebase/*.json

# Environment
.env
.env.local